<!DOCTYPE html>
<html>
<head>
	<title>二手房分析系统-查看面积分布情况</title>
	<link rel="stylesheet" type="text/css" href="/static/css/show.css">
</head>
<body>
<header>
	<section>
		<h1>二手房分析系统</h1>
	</section>
	<section>
		<a href="/">返回首页</a>
	</section>
</header>
<nav>
	<a href="huxing">户型分布情况</a>
	<a href="">面积分布情况</a>
	<a href="diqu">地区分布情况</a>
	<a href="daikan">带看分布情况</a>
	<a href="chaoxiang">朝向分布情况</a>
	<a href="niandai">年代分布情况</a>
	<a href="cluster">聚类分析</a>
</nav>
<main>
	<img src={{mianji}} width="864" height="648" />
</main>
</body>
</html>